@font-face {
  font-family: 'Epilogue-Regular';
  font-weight: 400;
  src: url('../assets/Epilogue-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Epilogue-Bold';
  font-weight: 700;
  src: url('../assets/Epilogue-Bold.woff2') format('woff2');
}

:root {
  --font-primary: 'Epilogue-Regular', sans-serif;
  --font-secondary: 'Epilogue-Bold', sans-serif;
  --color-black: hsl(218.8, 42.5%, 15.7%);
  --color-gray: hsl(218.3, 19.8%, 35.7%);
  --color-cream: hsl(30, 33.3%, 92.9%);
  --color-white: hsl(30, 28.6%, 97.3%);
  --color-blue: hsl(264.2, 100%, 68.8%);
  --color-purple: hsl(292, 76.2%, 53.9%);
  --color-orange: hsl(30.5, 100%, 65.3%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
select,
textarea,
button {
  border: none;
  box-shadow: none;
  outline: none;
}

a {
  text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: var(--font-primary);
  background-color: var(--color-white);
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: var(--font-secondary);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-black);
  margin-bottom: 62px;
  padding: 24px 16px 0;
}

header a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 182px;
  font-size: 14px;
  line-height: 24px;
  border: 1px solid #172339;
  border-radius: 6px;
}

.hero {
  padding: 0 16px;
  margin-bottom: 56px;
}

.hero-heading svg {
  transform: translate(155px, -5px);
  height: 22px;
  width: 151px;
}

.hero-heading svg path {
  stroke-width: 4px;
}

.hero-heading h1 {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 38px;
  line-height: 44px;
  letter-spacing: -0.52px;
  margin-top: 0;
  margin-bottom: 32px;
}

.hero-heading h1 strong {
  font-family: var(--font-secondary);
}

.hero p {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.08px;
  color: var(--color-gray);
  margin-bottom: 32px;
}

.hero a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 61px;
  width: 256px;
  border-radius: 6px;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.18px;
  color: var(--color-white);
  background-color: var(--color-black);
  margin-bottom: 56px;
}

.hero .background img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  border-radius: 15px;
}

.stats {
  text-align: center;
}

.stats h2~h2 {
  margin-top: 32px;
}

.stats h2 {
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.4px;
  margin-bottom: 8px;
}

.stats p {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: var(--color-gray);
}

.review {
  position: relative;
  z-index: 2;
  margin-top: 237px;
  padding: 0 16px 64px;
  text-align: center;
  background-color: var(--color-black);
  border-radius: 15px;
  margin-bottom: -15px;
}

.review svg {
  height: 40px;
  width: 49px;
  left: 311px;
}

.jeremy img {
  display: flex;
  height: 402px;
  width: 252px;
  transform: translate(16px, -45%);
  filter: contrast(75%);
  margin: 0 auto -140px;
}

.line-2 {
  margin-bottom: 32px;
}

.review-text h2 {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.41px;
  font-family: var(--font-primary);
  color: var(--color-white);
}

.review-text h2 strong {
  font-family: var(--font-secondary);
}

.review-text p {
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.09px;
  color: var(--color-cream);
}

.review-text h3 {
  font-family: var(--font-secondary);
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.18px;
  text-transform: uppercase;
  color: var(--color-white);
}

p.fylo {
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.5px;
}

footer {
  position: relative;
  z-index: 1;
  padding-top: 71px;
  padding-bottom: 80px;
  background-color: var(--color-cream);
  text-align: center;
}

footer p {
  margin: 33px auto;
  font-size: 15px;
  line-height: 32px;
  letter-spacing: 0.083px;
  color: var(--color-gray);
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social a {
  width: 20px;
  height: 20px;
}

.social li+li {
  margin-left: 28px;
}

.social a svg {
  width: 20px;
  height: 20px;
  color: var(--color-black)
}

@media (hover: hover) {

  header a:hover {
    color: var(--color-white);
    background-color: var(--color-black);
    transition: background-color 0.5s ease, color 0.3s ease;
  }

  .hero a:hover {
    background-image: linear-gradient(135deg, hsl(264.2, 100%, 68.8%) 0%, hsl(292, 76.2%, 53.9%) 49.21%, hsl(30.5, 100%, 65.3%) 100%);
  }

  .social a:hover svg {
    opacity: 0.5;
    transition: opacity 0.3s ease;
  }
}

@media (min-width: 48em) {

  header {
    padding: 40px 40px 0;
    margin-bottom: 80px;
  }

  header a {
    height: 56px;
    width: 219px;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: -0.16px;
  }

  .hero {
    height: 482px;
    background: url(../assets/image-hero-portrait@2x.webp) no-repeat top 0 right 40px/281px 482px;
    padding: 50px 40px 0;
    margin-bottom: 88px;
  }

  .hero .background img.landscape {
    display: none;
  }

  .hero-heading svg {
    height: 32px;
    width: 231px;
    transform: translate(220px, -10px);
  }

  .hero-heading svg path {
    stroke-width: 2.5px;
  }

  .hero-heading h1 {
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -0.77px;
    padding-right: 156px;
  }

  .hero p {
    width: 350px;
    margin-bottom: 40px;
  }

  .stats {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
  }

  .stats h2 {
    margin-bottom: 0;
  }

  .bg-color {
    background: linear-gradient(transparent 32%, var(--color-cream) 18%, var(--color-cream) 50%);
    padding: 0 40px;
  }

  .review {
    margin-top: 280px;
    padding: 0 40px 64px;
    background: var(--color-black) url(../assets/pattern-blur.svg) no-repeat top -50px left 54%/350px 300px;
    mix-blend-mode: multiply;
  }

  .review-text p.quote {
    margin: 0 auto 40px;
    width: 573px;
  }

  footer p {
    margin: 0;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 92px 40px 72px;
  }
}

@media (min-width: 64em) {

  header,
  .hero,
  .stats,
  .review {
    max-width: 69.375rem;
    margin-left: auto;
    margin-right: auto;
  }

  .bg-color {
    padding-left: 0;
    padding-right: 0;
  }

  footer {
    padding-left: 40px;
    padding-right: 40px;
  }

}

@media (min-width: 90em) {

  header,
  .hero,
  .stats,
  .review {
    padding-left: 0;
    padding-right: 0;
  }

  header {
    padding-top: 50px;
  }

  .hero-stats-container {
    display: flex;
    max-width: 69.375rem;
    margin: 0 auto;
  }

  .hero,
  .stats {
    max-width: initial;
  }

  .hero {
    max-width: 825px;
    margin: 0 96px 0 0;
    height: 600px;
    background: url(../assets/image-hero-portrait@2x.webp) no-repeat top 0 right 0/350px 600px;
    padding-top: 55px;
  }

  .hero-heading svg {
    width: 287px;
    height: 40px;
    transform: translate(290px, -10px);
  }

  .hero-heading svg path {
    stroke-width: 2px;
  }

  .hero-heading h1 {
    padding-right: 133px;
    font-size: 72px;
    line-height: 78px;
    letter-spacing: -1px;
    margin-bottom: 40px;
  }

  .hero p {
    font-size: 18px;
    line-height: 32px;
  }

  .stats {
    flex-direction: column;
    justify-content: center;
    margin-left: initial;
    text-align: left;
  }

  .stat-text {
    margin-bottom: 60px;
  }

  .bg-color {
    background: linear-gradient(transparent 50%, var(--color-cream) 50%);
  }

  .review {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 545px;
    margin-top: 199px;
    padding: 0 125px 0 100px;
    text-align: left;
    background: var(--color-black) url(../assets/pattern-blur.svg) no-repeat top 60px left 20px/550px 550px;
    mix-blend-mode: normal;
  }

  .jeremy img {
    position: relative;
    display: flex;
    height: 590px;
    width: 360px;
    transform: translate(20px, 0);
    bottom: 22.5px;
    margin: initial;
    filter: contrast(90%);
  }

  .review svg {
    height: 60px;
    width: 70px;
    margin: 0;
    align-self: flex-start;
    transform: translateY(161px);
  }

  .review-text {
    flex-basis: 350px;
  }

  .review-text h2 {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.5px;
  }

  .review-text p.quote {
    font-size: 20px;
    line-height: 35px;
    margin: 0 0 40px;
    width: unset;
  }

  .bg-color,
  footer {
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
  }

  footer {
    padding-left: 165.5px;
    padding-right: 165.5px;
  }
}